body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color:#000;
    width: 100%;
    margin: auto;
}
.container{
	margin: 0 auto;
	width: 960px;
}
.header{
	background: #262626;
	width: 100%;
	top: 0;
	position: fixed;
	height: 40px;

}
.logo{
	float: left;
	color: #fff;
	font-size: 8px;
}

a{
	text-decoration: none;
	color: #fff;
}
li {
	list-style: none;
	float: left;
	margin-left: 40px;
	padding-top: 0px;
	font-size:14px;
	margin-top: -1.5%;
}
.nav {
	float: right;

}